@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="purchApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/libs/angular.min.js"></script>
    <script src="~/Scripts/libs/angular-resource.min.js"></script>
    <script src="~/Scripts/libs/angular-route.min.js"></script>
    <script src="~/Scripts/angularJS/modal.js"></script>
    <script src="~/Scripts/angularJS/item/controller/itemControllerModal.js"></script>
    <script src="~/Scripts/angularJS/group/controller/groupController.js"></script>
    <script src="~/Scripts/angularJS/group/directive/groupList.js"></script>
    <script src="~/Scripts/angularJS/group/service/Groups.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
