@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Groups</title>
    <link href="~/Content/menu.css" rel="stylesheet" />
    <link href="~/Content/groupsTable.css" rel="stylesheet" />
    <link href="~/Content/itemsTable.css" rel="stylesheet" />
    <link href="~/Content/shops.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script src="~/Scripts/items.js" type="text/javascript"></script>
    <script src="~/Scripts/groups.js" type="text/javascript"></script>
    <script src="~/Scripts/shops.js" type="text/javascript"></script>
</head>
<body>
    <div id="root">
        <div id="menu">
            <div id="groupsAndItems">Группы и товары</div>
            <div id="shops">
                @Html.ActionLink("Магазины","ShopList", "Shop");
            </div>
            <div id="checks">Чеки</div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
