@using DomainExpenses.Abstract
@using WebExpenses.Models.Group
@model MGroupList
@{

}
<div class="dTable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Код</th>
                <th>Группа</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="groupsTableBody">
            @{
                Html.RenderPartial("GroupsTableBodyRows", @Model);
             }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>
                    @Html.ActionLink("Добавить", "CreateGroupCard", new { gId_ = Model.GroupId })
                </th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>