@using DomainExpenses.Abstract
@using WebExpenses.Models
@model MGroupList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="groups">
    @{
        Html.RenderPartial("GroupsTable", Model);
    };
</div>
<div id="items">
    @{
        Html.RenderAction("ItemsTable");
    }
</div>


