@using DomainExpenses.Abstract
@using WebExpenses.Models
@model MGroupList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Таблица</h4>
</div>
<div id="groups">
    @{
        Html.RenderPartial("GroupsTable", Model);
    };
</div>
<div id="items">
    @{
        Html.RenderAction("Items");
    }
</div>
<script>
    $(document).ready(function () {
        var obj = $('div#groups tbody tr').click(groupTBodyTrClick);
    });
</script>
