    @using WebExpenses.Models
@model MItemCard
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ItemCard</title>
</head>
<body>
        <h4>Карточка товара</h4>
        @using (Html.BeginForm())
        {
            if (Model.Id != -1)
            {
            <p>Код товара: @Html.TextBoxFor(it => it.Id, new { @readonly = true })</p>
            }
            <p>Наименование: @Html.EditorFor(it => it.Name)</p>
            Html.RenderAction("GroupDropDownList", new { gId_ = Model.GId, optionName_ = "groupId_" });
            
            <input type="submit" value="@ViewData["Head"]"/>
        }

    <div> 
    </div>
</body>
</html>
