@{
    //Layout = null;
    Layout = "~/Views/Shared/_AngularJsPurchaseLayout.cshtml";
}
<div ng-controller="purchaseController"
     data-ng-init="initEmpty()">

    <h2>Карточка покупки</h2>
   <p>Код  покупки: {{Id}}</p>
    <p>
        Магазин:
        <shop-list source="Shops"></shop-list>
    </p>
    <p>
        Группа товаров:
        <group-list source="Groups" currentChanged ="groupChanged"></group-list>
    </p>
    <p>
        Товар:
        <item-list source="Items"></item-list>
    </p>
    <p>Цена: <input id="purchPrice" ng-model="Price"/> руб</p>
    <p>Количество: <input id="purchCount" ng-model="Count" /></p>
    <p>Дата: <input id="purchDate" ng-model="Date" type="date"/></p>
    <input type="button" value="Добавить покупку" ng-click="CreatePurchase()"/>
</div>
