
@{
    Layout = "~/Views/Shared/_AngularJsPurchaseListLayout.cshtml";
}
<!--
<div id="header">
        Html.RenderAction("PeriodSelect");
        Html.RenderAction("WeekSelect");
        Html.RenderAction("DaysOfWeekSelect");
</div>
    -->
    @{
        Html.RenderPartial("ListGroups");
        //Html.RenderPartial("ListBody");
    };
