
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <table>
        <thead>
            <tr>
                <th id="thPeriod">
                    @{
                        Html.RenderAction("PeriodSelect");
                    }
                </th>
                <th id="thWeek">
                    @{
                        Html.RenderAction("WeekSelect");
                    }
                </th>
                <th>
                    @{ 
                        Html.RenderAction("DaysOfWeekSelect");
                    }
                </th>
                
            </tr>
        </thead>
    </table>

</div>
