@using DomainExpenses.Abstract
@using WebExpenses.Models.Group.Interface
@model IMGroupList
@{

}
<div class="dTable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Код</th>
                <th>Группа</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="groupsTableBody">
            @{
                Html.RenderPartial("GroupsTableBodyRows", @Model);
             }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>
                    @Html.ActionLink("Добавить", "CreateGroupCard")
                </th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $(document).ready(function () {
        console.log('groupClick.b');
        $('div#groups tbody tr th.groupOrder').click(setCurrentGroupByClick);
        $('div#groups tbody tr th.groupId').click(setCurrentGroupByClick);
        $('div#groups tbody tr th.groupName').click(setCurrentGroupByClick);
        $('div#groups tbody tr th.groupEdit a').click(setCurrentGId);
        $('div#groups tbody tr th.groupDelete a').click(setCurrentGId);
        console.log('groupClick.e');
    });
</script>
