@using WebExpenses.Models.Group
@model MGroupCard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h4>Карточка группы</h4>
    @using (Html.BeginForm())
    {
        if (Model.Id != -1)
        {
            <p>Код  группы: @Html.TextBoxFor(g => g.Id, new { @readonly = true })</p>
        }
        <p>Наименование: @Html.EditorFor(g => g.Name)</p>
        <p>Родительская группа:
            @{ 
                Html.RenderAction("GroupDropDownList", "Group", new { gId_ = Model.IdParent, optionName_ = "parentGroupId_" });
            }
        </p>
        <input type="submit" value="@ViewData["Head"]" />
    }
</body>
</html>
