@using DomainExpenses.Abstract
@using WebExpenses.Models.Group.Interface
@model IMGroupList
@{

}
<div class="dTable" >
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Код</th>
                <th>Группа</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="groupsTableBody">
            @{
                Html.RenderPartial("GroupsTableBodyRows", @Model);
             }
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>
                    <input type="button" value="Добавить" ng-click="CreateNewGroup()" />
                </th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

