@using DomainExpenses.Abstract
@using WebExpenses.Models.Group
@model MGroupList
@{
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<div id="groups" ng-controller="groupListController">
    @{
        Html.RenderPartial("GroupsTable", Model);
    };
</div>
<div id="items" ng-controller="itemListController">
    @{
        Html.RenderAction("ItemsTable", "Item");
    }
</div>