  

.shopOver {
    background:  green;
}

.shopSelected {
    background:  red;
}

.shopUnselected  {
    background:  #93d9a8;
}

tr div.shopAddressInner {
   font: italic 0.8em "Times New Roman";
}
