@using WebExpenses.Models.Item;
@model MItemDDList

@foreach (var item in Model.ItemList)
{
    if (Model.ItemId == item.Id)
    {
        <option value="@item.Id" selected>@item.Name</option>
    }
    else
    {
        <option value="@item.Id">@item.Name</option>
    }

}
