@using WebExpenses.Models.Shop.Interfaces;
@model IMShopList
@{
    Layout = "~/Views/Shared/_AngularJsShopLayout.cshtml";
}
<div id="shops" class="dTable" 
     ng-controller="shopListController">
    @{
        Html.RenderPartial("ShopTable", @Model);
    }
</div>