@using WebExpenses.Models.Shop
@model MShopList
<table>
    <thead>
        <tr>
            <th></th>
            <th>Код</th>
            <th>Магазин</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="shopTableBody">
        @{
            Html.RenderPartial("ShopTableBody", @Model);
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>
                @Html.ActionLink("Добавить", "CreateShop")
            </th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
