<tr ng-repeat="shop in Shops.Items"
    ng-class="{
     shopUnselected : (shop.Id != Shops.SelectedItem.Id) && (shop.Id != Shops.ItemOver.Id),    
    shopSelected : shop.Id == Shops.SelectedItem.Id,
    shopOver : shop.Id == Shops.ItemOver.Id
    }"
    ng-click="setSelected(shop)"
    ng-mouseover="setOver(shop)"
    >
    <th>{{$index+1}}.</th>
    <th class="shopId">{{shop.Id}}</th>
    <th class="shopName">
        <div class="shopNameInner">
            {{shop.Name}}
        </div>
        <div class="shopAddressInner">
            {{shop.Address}}
        </div>
    </th>
    <th class="shopEdit">
        <input type="button" value="Редактировать" ng-click="EditShop(shop)" />
    </th>
    <th class="shopDelete">
        <input type="button" value="Удалить" ng-click="DeleteShop(shop)" />
    </th>
</tr>
   


