<!DOCTYPE html>
<html ng-app="purchApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/libs/angular.min.js"></script>
    <script src="~/Scripts/libs/angular-resource.min.js"></script>
    <script src="~/Scripts/libs/angular-route.min.js"></script>
    <script src="~/Scripts/angularJS/app.js"></script>
    <script src="~/Scripts/angularJS/test/testController.js"></script>
</head>
<body ng-controller="testController">
   <h1>{{message}}</h1>
</body>
</html>
